@import "./variable";

.card-list {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin-bottom: 4rem;

  .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 2rem;
    padding: 3.5rem 1rem;
    box-shadow: 5px 5px 11px 1px rgba(0, 0, 0, 0.24);
    border-radius: 0.3rem;
    color: $text;
    width: 450px;
    background-color: $primary;

    &-title {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      h3 {
        font-size: 1.4rem;
      }
    }

    &-price {
      width: 100%;
      padding: 0.5rem 0;
      display: flex;
      align-items: flex-end;
      gap: 1.5rem;
      border-bottom: 1px solid $secondary;

      h1 {
        font-size: 4rem;
      }

      p {
        font-size: 1.5rem;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      li {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 0.8rem;

        .check-icon {
          color: $secondary;
        }
      }
    }

    button {
      @include button($secondary, $primary);
      width: 100%;
      padding: 1.1rem;
      font-size: 1.1rem;
      margin-top: auto;
    }
  }
}
